html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white-smoke;
}

body{
  display: grid;
  grid-template-rows: 60px auto;
}

header{
  background-color: #837465;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  overflow-y: auto;
  div.html-elements{
      width: 100%;

    select{
      margin: 1rem 0;
    }
  }

  div.props-elements{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    section:nth-child(even){
      margin-top: 1rem;
    }
  }
}


// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  main{
    display: grid;
    grid-template-rows: 100px auto;
  }

  div.props-elements{
    flex-direction: row !important;
    overflow-y: auto !important;
    padding-right: 0 !important;
    padding-top: 1rem !important;
    padding-bottom: .25rem !important;

    section {
      flex: 50%;
      height: 100%;
      overflow-y: auto !important;
      > div:first-child{
        text-align: center;
        margin: 1rem 0;
      }

      &:first-child{
        > div:last-child{
          width: 70%;
          margin: 0 auto;
        }
      }
    }
    section:nth-child(even){
      margin-top: 0 !important;
      margin-left: 1rem;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  section {
    &:first-child{
      > div:last-child{
        width: 50% !important;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}
